$primary-color: black;
$accent-color: rgba(0, 125, 200, 0.25);
$fast-response-color: rgba(51, 243, 128, 0.5);
$tolerable-response-color: rgba(255, 253, 126, 0.5);
$think-again-response-color: rgba(255, 0, 212, 0.5);
$accent-color-secondary: teal;
$padding-horizontal: 1rem;
$padding-vertical: 0;
$border-radius: 0.3rem;
$paragraph-margin: 0.5rem;

body {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;

  b,
  strong,
  th {
    font-weight: 500;
  }
}

#background {
  position: fixed;
  bottom: -0.8rem;
  right: -1rem;
  // transform: rotate(20deg);
  opacity: 0.3;
}

#inquisitor-wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-right: auto;
  margin-left: auto;
  padding: $padding-horizontal $padding-horizontal;

  #no-vars {
    text-align: center;
    display: none;
    position: absolute;
    bottom: 9rem;
    left: 0;

    p {
      width: 80%;
      margin: 0 auto;
    }
  }

  &.centerScreen {
    #no-vars {
      display: block;
    }
    #background {
      top: 10%;
      left: calc(50% - 125px);
      opacity: 1;

      svg {
        width: 250px;
        height: 250px;
      }
    }
  }

  #filter-wrapper {
    margin-bottom: 2rem;

    p {
      margin-top: 0;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;

    thead tr {
      background-color: lightskyblue;
      color: #ffffff;
      text-align: left;
    }
    tfoot {
      display: none;
    }
    tbody tr:hover {
      td {
        background-color: $accent-color;
      }
    }

    th,
    td {
      white-space: nowrap;
      padding: 0 1rem;
    }
    th {
      font-size: 0.8rem;
      color: #fff;
      line-height: 1.4;
      text-transform: uppercase;
      background-color: #002933;
      padding: 0.5rem 1rem;
      font-weight: unset;
    }
    td {
      font-size: 0.8rem;
      color: $primary-color;
      line-height: 1.4;
      padding-top: 0.25rem;
    }
    .collection-row {
      border-top: 2px solid black;
      border-bottom: 1px solid black;
      font-weight: bold;
      padding-top: 2rem;
    }
    .collection-row:hover {
      background-color: transparent;
    }

    .var-name {
      width: 25rem;
    }
  }
}
